@page "/addPublicationType"
@using Zeiss.PublicationManager.Data.DataSet.Model
@using Zeiss.PublicationManager.Data.DataSet
@using Zeiss.PublicationManager.Data.DataSet.IO.Read
@using Zeiss.PublicationManager.Business.Logic.IO
@using BlazorElectron.Data.DataLogic

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication
@inject DataHandler dataHandler
@inject WorkflowState workflowState

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

<button type="button" class="secondaryButton" id="userHelp">Hilfe</button>

@if (ShowSavePopup && workflowState.State == Data.DataLogic.State.Add)
{
    <div class="modal fade show" role="dialog" style="@modalDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Erfolgreich gespeichert</h3>
                </div>
                <div class="modal-body">
                    <p>Die Veröffentlichung wurde der Liste hinzugefügt.</p>
                    <button type="submit" class="form-control primaryButton" @onclick="@NavigateToLandingPage">Zurück zur Startseite</button>
                </div>
            </div>
        </div>
    </div>
}
else if (ShowSavePopup && workflowState.State == Data.DataLogic.State.Edit)
{
    <div class="modal fade show" role="dialog" style="@modalDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Erfolgreich gespeichert</h3>
                </div>
                <div class="modal-body">
                    <p>Die Änderungen wurden gespeichert.</p>
                    <button type="submit" class="form-control primaryButton" @onclick="@NavigateToLandingPage">Zurück zur Startseite</button>
                </div>
            </div>
        </div>
    </div>
}

@if (ShowAddPopup)
{
    <EditForm Model="@NewPublicationType" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@AddNewPublicationType">
        <DataAnnotationsValidator />
        <div class="modal fade show" role="dialog" style="@modalDisplay">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title w-100 text-center">Veröffentlichungsart hinzufügen</h3>
                        <button type="reset" class="cancelButton" @onclick="@CancelAddPopup">
                            <span class="fas fa-times fa-2x"></span>
                        </button>
                    </div>
                    <div class="modal-object">
                        <label for="publicationTypeName">Art der Veröffentlichung</label>
                        <InputText class="form-control" id="publicationTypeName" @bind-Value="NewPublicationType.Name" /><br />
                        <ValidationMessage For="@(() => NewPublicationType.Name)" />
                    </div>
                    <div class="modal-body">
                        <button type="submit" class="form-control primaryButton">Hinzufügen</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

@if (ShowPflichtfeldPopup)
{
    <div class="modal fade show" role="dialog" style="@modalDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Veröffentlichungsart ist ein Pflichtfeld.<br /> Bitte fügen sie eine neue Veröffentlichungsart hinzu!</h3>
                    <button type="reset" class="cancelButton" @onclick="@CancelPflichtfeldPopup">
                        <span class="fas fa-times fa-2x"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <button type="submit" class="form-control primaryButton" @onclick="@OpenAddPopup">Neue Veröffentlichungsart hinzufügen</button>
                </div>
            </div>
        </div>
    </div>
}

@if (workflowState.State == Data.DataLogic.State.Edit)
{
    <div class="mode">
        <h2>Veröffentlichung bearbeiten</h2>
    </div>
}
else if (workflowState.State == Data.DataLogic.State.Add)
{
    <div class="mode">
        <h2>Neue Veröffentlichung hinzufügen</h2>
    </div>
}
<section class="panel-default">
    <header class="panel-heading">
        <h4 class="panel-title">Art der Veröffentlichung</h4>
    </header>
    <div class="panel-body">
        <div class="panel-object">
            <select class="form-control" @onchange="SetPublicationType">
                @foreach (var publicationType in publicationTypes)
                {
                    if (!String.IsNullOrWhiteSpace(publicationType.Name))
                    {
                        <option value="@publicationType.ID">@publicationType.Name</option>
                    }

                }
            </select>
        </div>
        <div class="centeredButton">
            <button class="secondaryButton addNewField" @onclick="@OpenAddPopup">Neue Veröffentlichungsart hinzufügen</button>
        </div>
    </div>
</section>

<button class="secondaryButton addPub" type="submit" @onclick="@NavigateToNextScreen">Optionale Angaben</button>

<button class="secondaryButton back" type="button" @onclick="NavigateToPreviousScreen">
    <span class="fas fa-arrow-circle-left fa-3x"></span>
</button>
@if (workflowState.State == Data.DataLogic.State.Add)
{
    <button class="primaryButton continue" type="submit" @onclick="@ValidateAndSave">Veröffentlichung hinzufügen</button>
}
else
{
    <button class="primaryButton continue" type="submit" @onclick="@ValidateAndSave">Änderungen Speichern</button>
}

@code
{
    PublicationTypeModel NewPublicationType = new();
    List<IPublicationType> publicationTypes = new();
    bool ShowAddPopup = false;
    bool ShowPflichtfeldPopup = false;
    bool ShowSavePopup = false;
    string modalDisplay = "display:block";

    private void NavigateToPreviousScreen() => NavigationManager.NavigateTo("addDateOfRelease");

    private void NavigateToLandingPage() => NavigationManager.NavigateTo("/SearchPublication");

    private void NavigateToNextScreen()
    {
        if (Publication.TypeOfPublication is not null)
        {
            NavigationManager.NavigateTo("addDescription");
        }
        else
        {
            modalDisplay = "display:block";
            ShowPflichtfeldPopup = true;
        }
    }

    void CancelAddPopup()
    {
        NewPublicationType.Name = string.Empty;
        ShowAddPopup = false;
        modalDisplay = "display:none";
    }

    void CancelPflichtfeldPopup()
    {
        ShowPflichtfeldPopup = false;
        modalDisplay = "display:none";
    }

    void OpenAddPopup()
    {
        ShowPflichtfeldPopup = false;
        modalDisplay = "display:block";
        ShowAddPopup = true;
    }

    private void SavePublicationType()
    {
        try
        {
            PublicationTypeModel newPublicationType = new();
            newPublicationType.Set(NewPublicationType);

            dataHandler.SavePublicationType(newPublicationType);
            Publication.TypeOfPublication = newPublicationType;


            publicationTypes.Insert(0, newPublicationType);

            ReadDataSet.CachedPublicationTypes.Add(newPublicationType);

            NewPublicationType = new();
        }
        catch (Exception ex)
        {
            if (ex is UnauthorizedAccessException || ex is IOException)
            {
                publicationTypeException = true;
                OpenException();
                return;
            }

            throw ex;
        }

        StateHasChanged();
    }


    private void ValidateAndSave()
    {
        if (String.IsNullOrWhiteSpace(Publication?.TypeOfPublication?.Name))
        {
            modalDisplay = "display:block";
            ShowPflichtfeldPopup = true;
        }
        else
        {
            SavePublication();
        }
    }


    private void SavePublication()
    {
        try
        {
            dataHandler.Save(Publication);

            PublicationDataSetModel NewDataSet = new();
            NewDataSet.Set(Publication);

            if (workflowState.State == Data.DataLogic.State.Add)
            {
                ReadDataSet.CachedPublications.Add(NewDataSet);
            }
            else
            {
                int index = ReadDataSet.CachedPublications.FindIndex(item => item.ID == NewDataSet.ID);
                ReadDataSet.CachedPublications[index] = NewDataSet;
            }

            modalDisplay = "display:block";
            ShowSavePopup = true;
        }
        catch (Exception ex)
        {
            if (ex is UnauthorizedAccessException || ex is IOException)
            {
                publicationException = true;
                OpenException();
                return;
            }

            throw ex;
        }
    }

    private void HandleInvalidSubmit() { }

    void AddNewPublicationType()
    {
        ShowAddPopup = false;
        modalDisplay = "display:none";

        Publication.TypeOfPublication = NewPublicationType;

        SavePublicationType();
    }

    void SetPublicationType(ChangeEventArgs publicationType)
    {
        var selectedPublicationTypeID = Guid.Parse(publicationType.Value.ToString());
        Publication.TypeOfPublication = publicationTypes.First(a => a.ID.Equals(selectedPublicationTypeID));
    }

    void fetchData()
    {
        if (publicationTypes.Any())
            return;

        List<IPublicationType> readPublicationTypes = ReadDataSet.CachedPublicationTypes;
        foreach (IPublicationType type in readPublicationTypes)
        {
            publicationTypes.Add(type);
        }

        publicationTypes.RemoveAll(x => String.IsNullOrWhiteSpace(x.Name));
    }

    protected override void OnInitialized()
    {
        fetchData();

        var selected = publicationTypes.Where(a => a.ID.Equals(Publication.TypeOfPublication.ID))?.FirstOrDefault();
        if (selected is not null)
        {
            publicationTypes.Remove(selected);
            publicationTypes.Insert(0, selected);
        }
        else
            Publication.TypeOfPublication = publicationTypes.FirstOrDefault();
    }
}


@if (ShowException)
{
    <div class="modal fade show" role="dialog" style="@modalExceptionDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center" style="font-size:16px">
                        Datei-Zugriffs-Berechtigungs-Fehler
                        <br />
                        <br />Die Datei:
                        <br />"@dataHandler.filePath";
                        <br />wird derzeit von einem anderen Programm verwendet
                        <br />oder Ihr Adminstrator hat Ihnen den Zugriff verwehrt.
                        <br />
                        <br />Sie können warten bis das andere Programm die Datei wieder freigegeben hat und den Vorgang wiederholen.
                        <br />
                        <br />Sollten Sie die Benachrichtigung nach mehrerern Versuchen immernoch sehen,
                        <br />fragen Sie Ihren Adminstator und prüfen Sie, ob die Datei derzeit von einem anderen Programm verwendet wird
                        <br />und prüfen Sie Ihre Berechtigungen.
                    </h3>
                    <button type="reset" class="cancelButton" @onclick="@CloseException">
                        <span class="fas fa-times fa-2x"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <button type="submit" class="form-control primaryButton" @onclick="@Retry">Vorgang Wiederholen</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    string modalExceptionDisplay = "display:block";
    bool ShowException = false;

    bool publicationException = false;
    bool publicationTypeException = false;

    public void OpenException()
    {
        modalExceptionDisplay = "display:block";
        ShowException = true;
    }

    void CloseException()
    {
        ShowException = false;
        modalExceptionDisplay = "display:none";

        ResetExceptions();
    }

    void ResetExceptions()
    {
        publicationException = false;
        publicationTypeException = false;
    }

    void Retry()
    {
        if (publicationException)
        {
            SavePublication();
        }
        else if (publicationTypeException)
        {
            SavePublicationType();
        }

        CloseException();
    }
}

