@page "/addDescription"
@using Zeiss.PublicationManager.Data.DataSet
@using Zeiss.PublicationManager.Data.DataSet.Model
@using Zeiss.PublicationManager.Business.Logic.IO
@using BlazorElectron.Data.DataLogic

@using Zeiss.PublicationManager.Data.DataSet.IO.Read

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication
@inject DataHandler dataHandler
@inject WorkflowState workflowState

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

@if (ShowSavePopup && workflowState.State == Data.DataLogic.State.Add)
{
    <div class="modal fade show" role="dialog" style="@modalDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Erfolgreich gespeichert</h3>
                </div>
                <div class="modal-body">
                    <p>Die Veröffentlichung wurde der Liste hinzugefügt.</p>
                    <button type="submit" class="form-control primaryButton" @onclick="@NavigateToLandingPage">Zurück zur Startseite</button>
                </div>
            </div>
        </div>
    </div>
}
else if (ShowSavePopup && workflowState.State == Data.DataLogic.State.Edit)
{
    <div class="modal fade show" role="dialog" style="@modalDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Erfolgreich gespeichert</h3>
                </div>
                <div class="modal-body">
                    <p>Die Änderungen wurden gespeichert.</p>
                    <button type="submit" class="form-control primaryButton" @onclick="@NavigateToLandingPage">Zurück zur Startseite</button>
                </div>
            </div>
        </div>
    </div>
}

<EditForm Model="@NewDescription">
    <DataAnnotationsValidator />
    @if (workflowState.State == Data.DataLogic.State.Edit)
    {
        <div class="mode">
            <h2>Veröffentlichung bearbeiten</h2>
        </div>
    }
    else if (workflowState.State == Data.DataLogic.State.Add)
    {
        <div class="mode">
            <h2>Neue Veröffentlichung hinzufügen</h2>
        </div>
    }
    <section class="panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Zusätzliche Information</h4>
        </header>
        <div class="panel-body">
            <form>
                <div class="panel-object">
                    <label for="titleDescr">Beschreibung</label>
                    <InputText id="titleDescr" class="form-control" @bind-Value="@NewDescription.Description" />
                    <ValidationMessage For="@(() => NewDescription.Description)" />
                </div>
                <div class="panel-object">
                    <label for="textBox">Beschreibungstext</label>
                    <InputTextArea id="textBox" class="form-control" @bind-Value="@NewDescription.AdditionalInformation" rows="5" />
                    <ValidationMessage For="@(() => NewDescription.AdditionalInformation)" />
                </div>
            </form>
        </div>
    </section>

    @if (workflowState.State == Data.DataLogic.State.Edit)
    {
        <button class="primaryButton addPub" type="submit" @onclick="SavePublication">Änderungen Speichern</button>
    }
    else if (workflowState.State == Data.DataLogic.State.Add)
    {
        <button class="primaryButton addPub" type="submit" @onclick="SavePublication">Veröffentlichung hinzufügen</button>
    }
    <button class="primaryButton back" type="button" @onclick="NavigateToPreviousScreen">Pflichtangaben</button>
    <button class="primaryButton continue" type="submit" @onclick="NavigateToNextScreen">
        <span class="fas fa-arrow-circle-right fa-3x"></span>
    </button>
</EditForm>

@code
{
    DescriptionModel NewDescription = new();
    bool ShowSavePopup = false;
    string modalDisplay = "display:block";

    private void NavigateToPreviousScreen()
    {
        UpdateOptional();
        NavigationManager.NavigateTo("addPublicationType");
    }

    private void NavigateToNextScreen()
    {
        UpdateOptional();
        NavigationManager.NavigateTo("addPublisher");
    }

    private void NavigateToLandingPage() => NavigationManager.NavigateTo("/SearchPublication");


    private void Update()
    {
        UpdateOptional();
        SavePublication();
    }


    private void SavePublication()
    {
        try
        {
            dataHandler.Save(Publication);

            PublicationDataSetModel NewDataSet = new();
            NewDataSet.Set(Publication);

            if (workflowState.State == Data.DataLogic.State.Add)
            {
                ReadDataSet.CachedPublications.Add(NewDataSet);
            }
            else
            {
                int index = ReadDataSet.CachedPublications.FindIndex(item => item.ID == NewDataSet.ID);
                ReadDataSet.CachedPublications[index] = NewDataSet;
            }

            modalDisplay = "display:block";
            ShowSavePopup = true;
        }
        catch (Exception ex)
        {
            if (ex is UnauthorizedAccessException || ex is IOException)
            {
                OpenException();
                return;
            }

            throw ex;
        }

        StateHasChanged();
    }

    private void UpdateOptional()
    {
        Publication.Description = NewDescription.Description;
        Publication.AdditionalInformation = NewDescription.AdditionalInformation;
    }

    protected override void OnInitialized()
    {
        NewDescription.Description = Publication.Description;
        NewDescription.AdditionalInformation = Publication.AdditionalInformation;
        base.OnInitialized();
    }
}


@if (ShowException)
{
    <div class="modal fade show" role="dialog" style="@modalExceptionDisplay">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center" style="font-size:16px">
                        Datei-Zugriffs-Berechtigungs-Fehler
                        <br />
                        <br />Die Datei:
                        <br />"@dataHandler.filePath";
                        <br />wird derzeit von einem anderen Programm verwendet
                        <br />oder Ihr Adminstrator hat Ihnen den Zugriff verwehrt.
                        <br />
                        <br />Sie können warten bis das andere Programm die Datei wieder freigegeben hat und den Vorgang wiederholen.
                        <br />
                        <br />Sollten Sie die Benachrichtigung nach mehrerern Versuchen immernoch sehen,
                        <br />fragen Sie Ihren Adminstator und prüfen Sie, ob die Datei derzeit von einem anderen Programm verwendet wird
                        <br />und prüfen Sie Ihre Berechtigungen.
                    </h3>
                    <button type="reset" class="cancelButton" @onclick="@CloseException">
                        <span class="fas fa-times fa-2x"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <button type="submit" id="addButtonInPopup" class="form-control" @onclick="@Retry">Vorgang Wiederholen</button>
                </div>
            </div>
        </div>
    </div>
}

@code
{
    string modalExceptionDisplay = "display:block";
    bool ShowException = false;

    public void OpenException()
    {
        modalExceptionDisplay = "display:block";
        ShowException = true;
    }

    void CloseException()
    {
        ShowException = false;
        modalExceptionDisplay = "display:none";
    }

    void Retry()
    {
        SavePublication();
        CloseException();
    }
}

