@page "/addAuthor"
@using Zeiss.PublicationManager.Data.DataSet.Model

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

<EditForm Model="@Publication.MainAuthor" OnInvalidSubmit="@HandleInvalidSubmit" OnValidSubmit="@NavigateToNextScreen">

    <DataAnnotationsValidator />

    <section class="author panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Autor</h4>
        </header>
        <div class="author panel-body">
            <div class="author-default">
                <label for="firstname">Vorname</label>
                <InputText class="form-control" id="firstname" @bind-Value="Publication.MainAuthor.Name" /><br />
                <ValidationMessage For="@(()=> Publication.MainAuthor.Name)" />
            </div>
            <div class="author-default">
                <label for="surname">Nachname</label>
                <InputText class="form-control" id="surname" @bind-Value="Publication.MainAuthor.Surname" /><br />
                <ValidationMessage For="@(()=> Publication.MainAuthor.Surname)" />
            </div>
        </div>
    </section>

    <button class="back" type="button" @onclick="NavigateToPreviousScreen">Zurück</button>
    <button class="continue" type="submit">Weiter</button>

</EditForm>

@code
{
    private void NavigateToPreviousScreen()
    {
        NavigationManager.NavigateTo("addTitle");
    }

    private void NavigateToNextScreen()
    {
        NavigationManager.NavigateTo("addDivision");
    }

    private void HandleInvalidSubmit()
    {

    }
}