@page "/addDivision"
@using Zeiss.PublicationManager.Data.DataSet.Model

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg"
     class="logo" />

@if (ShowPopup)
{
    <div class="modal fade show" tabindex="1" style="display: block; top: 20%;" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Geschäftsbereich hinzufügen</h3>
                </div>
                <div class="modal-body">
                    <h5>Fügen Sie einen neuen Geschäftsbereich hinzu.</h5><br />
                    <input class="form-control" type="text" /><br />
                    <button type="submit" class="form-control"
                            @onclick"SaveDivision">
                        Hinzufügen
                    </button>
                </div>
            </div>
        </div>
    </div>
}

<EditForm Model="@Publication" OnInvalidSubmit="@NavigateToNextScreen" OnValidSubmit="@NavigateToNextScreen">
    
    <DataAnnotationsValidator />

    <section class="division panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Geschäftsbereich</h4>
        </header>
        <div class="panel-body">
            <InputSelect class="form-control" @bind-Value="@Publication.Division">
                <option></option>
                <option>DAC</option>
                <option>DQA</option>
                <option>DQA I</option>
                <option>DQA II</option>
                <option>DQA, TAD III</option>
                <option>MSD</option>
                <option>QA</option>
                <option>SAP</option>
                <option>SBD</option>
                <option>SEV</option>
                <option>TAD</option>
                <option>TAD I</option>
                <option>TAD II</option>
                <option>TAD III</option>
                <option>Vorstand</option>
                <option>Vorstand, TAD I</option>
            </InputSelect>
            <ValidationMessage For="@(()=> Publication.Division)" />

            @*<button class="addDivision" @onclick="AddNewDivision">Neuer Geschäftsbereich</button>*@
       
        </div>
    </section>

    <button class="back" type="button" @onclick="NavigateToPreviousScreen">Zurück</button>
    <button class="continue" type="submit">Weiter</button>

</EditForm>


@code
{
    private void NavigateToPreviousScreen()
    {
        NavigationManager.NavigateTo("AddAuthor");
    }

    private void NavigateToNextScreen()
    {
        NavigationManager.NavigateTo("addDateOfRelease");
    }

    private void HandleInvalidSubmit()
    {

    }
    // Dialogfenster zum Hinzufuegen eines neuen Geschaeftsbereichs
    bool ShowPopup = false;
    private void AddNewDivision()
    {
        ShowPopup = true;
    }
}
