@page "/editTags"
@using Zeiss.PublicationManager.Data.DataSet.Model
@using Zeiss.PublicationManager.Business.Logic.IO

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication
@inject DataHandler dataHandler

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

@if (ShowSavePopup)
{
    <div class="modal fade show" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title w-100 text-center">Erfolgreich gespeichert</h3>
                </div>
                <div class="modal-body">
                    <p>Die Veröffentlichung wurde der Liste hinzugefügt.</p>
                    <button type="submit" id="backToLandingPage" class="form-control primaryButton" @onclick="@NavigateToLandingPage">Zurück zur Startseite</button>
                </div>
            </div>
        </div>
    </div>
}

<EditForm Model="@Publication">
    <div class="mode">
        <h2>Veröffentlichung bearbeiten</h2>
    </div>
    <section class="panel-default">
        <header class="panel-heading">
            <h4 class="panel-title">Tags</h4>
        </header>
        <div class="panel-body">
            @if (Tags != null)
            {
                foreach (var tag in Tags)
                {
                    <div class="form-check tags">
                        <input class="form-check-input" type="checkbox" id="@tag" />
                        <label class="form-check-label" for="@tag">@tag</label>
                    </div>
                }
            }
        </div>
    </section>

    <button class="primaryButton addPub" type="submit">Veröffentlichung speichern</button>
    <button class="primaryButton back" type="button" @onclick="NavigateToPreviousScreen">
        <span class="fas fa-arrow-circle-left fa-3x"></span>
    </button>

</EditForm>

@code
{
    private string[] Tags = new string[] { "Frontend", "Backend", "Development", ".NET 5.0", ".NET Core", ".NET Framework" };

    private void NavigateToPreviousScreen() => NavigationManager.NavigateTo("editPublisher");

    private void NavigateToLandingPage() => NavigationManager.NavigateTo("/SearchPublication");

    private void Save()
    {
        dataHandler.Save(Publication);
        PopupSuccessfulSave();
    }

    // Dialogfenster zum erfolgreichen Hinzufügen einer Veröffentlichung
    bool ShowSavePopup = false;
    private void PopupSuccessfulSave()
    {
        ShowSavePopup = true;
    }
}
