@page "/searchPub"
@using Zeiss.PublicationManager.Data.DataSet.Model

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

<EditForm Model="@Publication">

    <section class="search-default">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Titel, Autor, Stichwort, ..."
                   @bind-value="SearchTerm" @bind-value:event="oninput" />
            <!--<button type="button" class="btn">
                <span class="fas fa-search"></span>
            </button> -->
            <button type="button" class="btn" @onclick="@ChangeFilterVisibility" id="openFilter">
                <span class="fas fa-filter fa-2x"></span>
            </button>
        </div>
    </section>

    <section class="dropdownFilter" hidden=@HideFilter>
        <div class="input-group">
            <label>Filtern nach:</label>
            <div class="divisionFilter">
                <select class="form-control" @onchange="@DivisionFilter">
                    @foreach (var div in Divisions)
                    {
                        <option value="@div">@div</option>
                    }
                </select>
            </div>
            <!--
            <div class="tagFilter">
                <InputSelect class="form-control" @bind-Value="@Publication.Tags">
                    <option></option>
                    @foreach (var tag in Tags)
                    {
                        <option>@tag</option>
                    }
                </InputSelect>
            </div>  -->
        </div>
    </section>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    <span class="sort-link" @onclick="@(() => SortTable("TitleTest"))">Titel</span>
                    <span class="fa @(GetSortStyle("TitleTest"))"></span>
                </th>
                <th>
                    <span class="sort-link" @onclick="@(() => SortTable("NameTest"))">Nachname</span>
                    <span class="fa @(GetSortStyle("NameTest"))"></span>
                </th>
                <th>
                    <span class="sort-link" @onclick="@(() => SortTable("SurnameTest"))">Vorname des Autors</span>
                    <span class="fa @(GetSortStyle("SurnameTest"))"></span>
                </th>
                <th>
                    <span class="sort-link" @onclick="@(() => SortTable("DateTest"))">Datum der Veröffentlichung</span>
                    <span class="fa @(GetSortStyle("DateTest"))"></span>
                </th>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items)
            {
                <tr>
                    <td>@item.TitleTest</td>
                    <td>@item.NameTest</td>
                    <td>@item.SurnameTest</td>
                    <td>@item.DateTest.ToShortDateString()</td>
                    <td>
                        <button type="button" class="btn-primary">
                            Bearbeiten
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button type="button" class="btn-primary">
                            Löschen
                            <span class="fas fa-trash-alt"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>

@code
{
    private bool HideFilter = true;

    private bool IsSortedAscending;
    private string CurrentSortColumn;

    string SearchTerm { get; set; } = "";

    string SelectedDivsion { get; set; } = "";

    List<string> Divisions = new List<string>()
    {
        "", "DAC", "DQA", "DQA I", "DQA II", "DQA, TAD III", "MSD", "QA", "SAP", "SBD", "SEV", "TAD", "TAD I", "TAD II", "TAD III", "Vorstand", "Vorstand, TAD I"
    };

    List<string> Tags = new List<string>()
    {
        "Backend", "Frontend", "Development", ".NET 5.0", ".NET Core", ".NET Framework"
    };

    // Test Data
    public class TableTest
    {
        public string TitleTest { get; set; }
        public string NameTest { get; set; }
        public string SurnameTest { get; set; }
        public DateTime DateTest { get; set; }
        public string Division { get; set; }
    };

    List<TableTest> Data = new List<TableTest>()
    {
        new TableTest {TitleTest="ABC", NameTest="Mueller", SurnameTest="Hans", DateTest= new DateTime(2015, 03, 12), Division="DAC"},
        new TableTest {TitleTest="XYZ", NameTest="Mustermann", SurnameTest="Max", DateTest=new DateTime(2017, 12, 24), Division="DQA II"},
        new TableTest {TitleTest="DEF", NameTest="Musterfrau", SurnameTest="Maxi", DateTest=new DateTime(2019, 12, 31), Division="SBD"},
        new TableTest {TitleTest="MNO", NameTest="Stein", SurnameTest="Ute", DateTest=new DateTime(2022, 01, 01), Division="DQA, TAD III"},

        new TableTest {TitleTest="GHWE", NameTest="Zufall", SurnameTest="Juergen", DateTest=new DateTime(2015, 12, 12), Division="DAC"},
        new TableTest {TitleTest="OSJF", NameTest="Wurst", SurnameTest="Willi", DateTest=new DateTime(2006, 06, 14), Division="SAP"},
        new TableTest {TitleTest="SHJF", NameTest="Schmied", SurnameTest="Anna", DateTest=new DateTime(2040, 12, 31), Division="SAP"},
        new TableTest {TitleTest="GEGE", NameTest="Fischer", SurnameTest="Klaus", DateTest=new DateTime(1999, 01, 01), Division="DAC"},
    };

    // search term input
    List<TableTest> items => Data.Where(i => i.TitleTest.ToLower().Contains(SearchTerm.ToLower()) ||
                                             i.NameTest.ToLower().Contains(SearchTerm.ToLower()) ||
                                             i.SurnameTest.ToLower().Contains(SearchTerm.ToLower())).ToList();

    // hide or show dropdown-filter
    private void ChangeFilterVisibility()
    {
        HideFilter = !HideFilter;
    }

    // get column to sort and set corresponding icon
    private string GetSortStyle(string columnName)
    {
        if (CurrentSortColumn != columnName)
        {
            return string.Empty;
        }
        if (IsSortedAscending)
        {
            return "fa-sort-up";
        }
        else
        {
            return "fa-sort-down";
        }
    }

    // sort the column which was choosen
    private void SortTable(string columnName)
    {
        if (columnName != CurrentSortColumn)
        {
            Data = Data.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            CurrentSortColumn = columnName;
            IsSortedAscending = true;
        }
        else
        {
            if (IsSortedAscending)
            {
                Data = Data.OrderByDescending(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }
            else
            {
                Data = Data.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }
            IsSortedAscending = !IsSortedAscending;
        }
    }

    private List<TableTest> helpData;

    protected override void OnInitialized()
    {
        helpData = Data;
    }

    // filter list when changing value of division-filter
    public void DivisionFilter(ChangeEventArgs e)
    {
        SelectedDivsion = e.Value.ToString();
        if (SelectedDivsion.Equals(""))
        {
            Data = helpData;
        }
        else
        {
            Data = helpData.Where(f => f.Division.Equals(SelectedDivsion)).ToList();
        }
    }
}