@page "/searchPub"
@using Zeiss.PublicationManager.Data.DataSet.Model

@inject NavigationManager NavigationManager
@inject PublicationDataSetModel Publication

<img src="https://upload.wikimedia.org/wikipedia/commons/9/95/Zeiss_logo.svg" class="logo" />

<EditForm Model="@Publication">

    <section class="search-default">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Titel, Autor, Stichwort, ..." />
            <button type="button" class="btn">
                <span class="fas fa-search"></span>
            </button>
            <button type="button" class="btn">
                <span class="fas fa-filter"></span>
            </button>
        </div>
    </section>
   
    <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Titel</th>
                    <th>Nachname, Vorname des Autors</th>
                    <th>Datum der Veröffentlichung</th>
                    <th>Aktion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                        <tr>
                            <td>@item.TitleTest</td>
                            <td>@item.NameTest, @item.SurnameTest</td>
                            <td>@item.DateTest</td>
                            <td>
                                <button type="button" class="btn-primary">Bearbeiten
                                    <span class="fas fa-pencil-alt"></span>
                                </button>
                                <button type="button" class="btn-primary">Löschen
                                    <span class="fas fa-trash-alt"></span>
                                </button>
                            </td>
                        </tr>
                }
            </tbody>
        </table> 
</EditForm>

@code 
{
    public class TableTest
    {
        public string TitleTest { get; set; }
        public string NameTest { get; set; }
        public string SurnameTest { get; set; }
        public string DateTest { get; set; }
    };

    List<TableTest> items = new List<TableTest>()
    {
        new TableTest {TitleTest="ABC", NameTest="Mueller", SurnameTest="Hans", DateTest="12.03.2015"},
        new TableTest {TitleTest="XYZ", NameTest="Mustermann", SurnameTest="Max", DateTest="24.12.2017"},
        new TableTest {TitleTest="DEF", NameTest="Musterfrau", SurnameTest="Maxi", DateTest="31.12.2019"},
        new TableTest {TitleTest="MNO", NameTest="Stein", SurnameTest="Ute", DateTest="01.01.2022"},

        new TableTest {TitleTest="GHWE", NameTest="Zufall", SurnameTest="Juergen", DateTest="12.12.2015"},
        new TableTest {TitleTest="OSJF", NameTest="Wurst", SurnameTest="Willi", DateTest="14.06.2006"},
        new TableTest {TitleTest="SHJF", NameTest="Schmied", SurnameTest="Anna", DateTest="31.12.2040"},
        new TableTest {TitleTest="GEGE", NameTest="Fischer", SurnameTest="Klaus", DateTest="01.01.1999"},
    };
}
